<configuration>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/pan-generator-app.log</file> <!-- Specify the file path here -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>log/pan-generator-app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize> <!-- Set the maximum size for log file -->
            <maxHistory>5</maxHistory> <!-- Number of archived files to keep -->
            <totalSizeCap>1GB</totalSizeCap> <!-- Optional: Limit the total size of archived files -->
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">

        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
